
@{
    ViewBag.Title = "ShowSummary";
}

<h2>Order Summary</h2>

<p>@ViewBag.Name ordered this at this price</p>
<a class="btn btn-primary" href="@Url.Action("Index", "Rentals")">Return to list of instruments</a>

