
@{
    ViewBag.Title = "ShowSummary";
}

<h2>Order Summary</h2>

<p>Thank you for your order, @ViewBag.CustomerName!</p>
<hr />
<b>Order Details:</b>
<br />
<p>Instrument: @ViewBag.InstrumentName</p>
<p>Condition: @ViewBag.InstrumentType</p>
<p>Price per Month: $@ViewBag.InstrumentPrice</p>
<p>Price to Own (after 18 mo): $@ViewBag.InstrumentTotal</p>
<img src="~/Content/Images/@ViewBag.InstrumentDisplay" />

