@{
    ViewBag.Title = "Blow Out!";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water!</p>
    <ul>
        <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
        <li>@Html.ActionLink("About", "Index", "About")</li>
        <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
    </ul>
    <center>
        <img src="~/Content/Images/instrument.jpg" /><br />
        <p><i>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.</i>  - Johann Sebastian Bach</p>
    </center>
    
</div>

