@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <br />
    <label for="inputUserName">User Name</label><br />
    @Html.TextBox("User Name")<br /><br />
    <label for="inputPassword">Password</label><br />
    @Html.Password("Password")<br /><br />
    <button type="submit">Login</button>
}